<div class="menu">
    <button mat-raised-button color=primary (click)="navigateToClientCreate()">
        <span class="material-icons">person_add</span>
        Novo Cliente
    </button>
    <button mat-raised-button color=primary (click)="abrirCadastroCliente()">
        <span class="material-icons">person_add</span>
        Abrir dialog
    </button>

    <button mat-raised-button color=primary>
        <span class="material-icons">badge</span>
        Novo Vendedor
    </button>

    <button mat-raised-button color=primary>
        <span class="material-icons">add_business</span>
        Novo Fornecedor
    </button>
</div>
