<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do Produto" [(ngModel)]="product.nome" name="Nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade Disponivel">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Descrição do Produto"></textarea>
        </mat-form-field>
    </form>
</mat-card>

<mat-card>
    <mat-card-title>Dados Pessoais</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Completo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome da Loja">
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
