<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do Produto" [(ngModel)]="product.nome" name="Nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade Disponivel">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Descrição do Produto"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fornecedor</mat-label>
            <mat-select matNativeControl [(ngModel)]="selectedProvider" name="nome">
               <input type="text"
               placeholder="Search..."
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
               class="select-input">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let provider of filteredOptions | async" [value]="provider.nome">
                      {{provider.nome}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-select> <!--
            <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let provider of filteredOptions | async" [value]="provider.nome">
            {{provider.nome}}
          </mat-option>
        </mat-autocomplete> -->
          </mat-form-field>
    </form>
</mat-card>
<!--
<mat-card>
    <mat-card-title>Dados Pessoais</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Completo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome da Loja">
        </mat-form-field>
    </form>
</mat-card> -->

<button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
