<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form [formGroup]="produtoForm">
        <mat-form-field>
            <input matInput formControlName="nome" placeholder="Nome do Produto" [(ngModel)]="product.nome" name="Nome">
            <mat-hint class="invalid" *ngIf="produtoForm.get('nome').touched && produtoForm.get('nome').errors?.required"> Insira o nome do Produto</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="preco" placeholder="Preço (R$)">
            <mat-hint class="invalid" *ngIf="produtoForm.get('preco').touched && produtoForm.get('preco').errors?.required"> Insira o preço do Produto</mat-hint>
            <mat-hint class="invalid" *ngIf="produtoForm.get('preco').touched && produtoForm.get('preco').errors?.pattern"> Insira um valor valido Ex. 50,00</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="quantidade" numeric placeholder="Quantidade Disponivel">
            <mat-hint class="invalid" *ngIf="produtoForm.get('quantidade').touched && produtoForm.get('quantidade').errors?.pattern"> Somente Números</mat-hint>
            <mat-hint class="invalid" *ngIf="produtoForm.get('quantidade').touched && produtoForm.get('quantidade').errors?.required"> Insira a quantidade do Produto</mat-hint>
        <!--</mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Descrição do Produto"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fornecedor</mat-label>
            <mat-select matNativeControl [(ngModel)]="selectedProvider" name="nome">
               <input type="text"
               placeholder="Search..."
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"
               class="select-input">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let provider of filteredOptions | async" [value]="provider.nome">
                      {{provider.nome}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-select> ////
            <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let provider of filteredOptions | async" [value]="provider.nome">
            {{provider.nome}}
          </mat-option>
        </mat-autocomplete> -->
          </mat-form-field>
    </form>
</mat-card>
<!--
<mat-card>
    <mat-card-title>Dados Pessoais</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Completo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome da Loja">
        </mat-form-field>
    </form>
</mat-card> -->

<button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
